.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.box {
    display: inline-block;
    /* padding: 100px; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangle {
    position: absolute;
    background-color: transparent;
    border: 3px solid black;
    padding: 0;
    z-index: 1;
    animation: roling 10s infinite linear;
}
.reverse {
    animation: roling 20s infinite reverse linear;
}

@keyframes roling {
    0% {
        height: 0px;
        width: 200px;
        transform: rotate(0deg);
    }

    25% {
        height: 200px;
        width: 5px;
    }

    50% {
        height: 0px;
        width: 200px;
        transform: rotate(360deg);
    }

    75% {
        height: 200px;
        width: 5px;
    }

    100% {
        height: 0px;
        width: 200px;
        transform: rotate(720deg);
    }
}